body{
    margin: 0;
    padding: 0;
    background-image: url('image/bg2.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}
.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
}
.login h3{
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box-login{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 100%;
    background: #E4E2E2;
    border: 0;
    font-size: 10pt;
    margin: 18px 0px;
    border-radius: 5px;
}
.box-login i{
    padding-left: 8px;
    font-size: 20px;
    color: #414141;
}
.box-login input{
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
}
.btn-login .tombol{
    background: none;
    border: none;
    outline: none;
}
.btn-login{
    width: 100%;
    background-color: #33A9FF;
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}
.bottom{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
.box-fb {
    display: flex;
    padding: 8px 0;
    width: 100%;
    background: #6E96D2;
    border: 0;
    font-size: 10pt;
    margin: 18px 0px;
    border-radius: 5px;
}
.box-fb i{
    padding-left: 8px;
    font-size: 20px;
    color: white;
}
.box-fb p{
    width: 75%;
    display: inline-block;
    color: rgb(7, 7, 7);
    margin: 0px;
    padding: 0 10px;
    text-align: center;
}
.box-google {
    display: flex;
    padding: 8px 0;
    width: 100%;
    background: #FF2828;
    border: 0;
    font-size: 10pt;
    margin: 18px 0px;
    border-radius: 5px;
}
.box-google i{
    padding-left: 8px;
    font-size: 20px;
    color: white;
}
.box-google p{
    width: 75%;
    display: inline-block;
    color: rgb(7, 7, 7);
    margin: 0px;
    padding: 0 10px;
    text-align: center;
}