*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #D4ffef;
    font-family: sans-serif;
}
section{
    padding-top: 20px;
    padding-left: 18px;

}
section a{
    text-decoration: none;
    color: rgb(4, 124, 118);

}
section p{
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(54, 52, 52);
}
.kotak{
    justify-content: center;
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
}
.kotak h1{
    font-size: 25px;
    text-align: center;
    margin: 20px;
}
.header{
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    background-color: #BDE4D6;
    justify-content: space-between;
    margin: 10px 40px 20px 40px;
    padding: 20px;
}
.pesan{
    display: flex;
    border: 1px solid;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 10px 40px 20px 40px;
    padding: 20px;
    justify-content: space-between;
}
.nama{
    max-width: 200px;
}
.tgl{
    max-width: 200px;
}
.status{
    max-width: 150px;
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
}
.jmlh{
    max-width: 200px;
}
.metode{
    max-width: 200px;
}
footer{
    position: relative;
    bottom: 0;
}
.footer{
    display: flex;
    background-color: #414141;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px sans-serif;
    padding: 50px 50px 0px 50px;
    margin-top: 80px;
}
.footer .footer-left, .footer .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer .footer-left{
    width: 35%;
}
.footer .footer-left i{
    background-color: #9b9b9b;
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-left p{
    width: 50%;
    display: inline-block;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    margin: 0px;
}
.footer-right{
    width: 20%;
}
.footer .footer-about{
    float: right;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin: 0px;
}
.footer .footer-about span{
    display: block;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    width: 30%;
}
.footer .footer-about a{
    display: block;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    width: 50%;
}
.footer .sosmed{
    margin-top: 25px;
}
.footer .sosmed a{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #9b9b9b;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    margin-right: 8px;
    margin-bottom: 40px;
}
.footer.sosmed a:hover{
    background-color: rgb(255, 255, 255);
}
.footer .footer-left, .footer .footer-right{
    display: block;
    width: 100%;
    text-align: left;
}
.copyright{
    text-align: center;
    background-color: #343535;
    width: 100%;
    color: white;
}