*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #D1FFEF;
}
section{
    padding-top: 20px;
    padding-left: 18px;

}
section a{
    text-decoration: none;
    color: rgb(4, 124, 118);

}
section p{
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(54, 52, 52);
}
.box{
    display: flex;
    padding-bottom: 20px;
}

.cara{
    font-family: sans-serif;
    background-color: white;
    float: left;
    border-radius: 20px;
    width: 100%;
    padding: 30px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.cara h1{
    font-size: 18px;
}
.cara p{
    font-size: 15px;
}
.right{
    position: relative;
    display: flex;
    padding: 8px;
    width: 100%;
}
.search{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    background: #ffff;
    border: 0;
    font-size: 10pt;
    margin: 18px 0px;
    border-radius: 5px;
    margin-right: 15px;
    width: 90%;

}
.search input{
    width: 90%;
    font-size: 15px;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
}
.cari{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    width: 5%;
    background: #BDE4D6;
    border: 0;
    font-size: 10pt;
    margin: 18px 0px;
    border-radius: 5px;
}
button{
    background: none;
    border: none;
    outline: none;
    width: 100%;
}
.cari i{
    font-size: 20px;
    color: #000000;
}
.dokter::-webkit-scrollbar {
    width: 0;
}
.dokter{
    height: 400px;
    margin-top: 10px;
    overflow-y: auto;
}
.chat{
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
    width: 550px;
    height: 100px;

}
.tanya{
    display: flex;
}
.gambar{
    width: 100px;
}
.chat img{
    border-radius: 50%;
    width: 100px;
}
.nama{
    width: 300px;
    margin: 20px;
    font-family: sans-serif;
}
.nama h2{
    font-size: 18px;
    border-bottom: 1px solid;
}
.block{
    width: 100px;
    height: 35px;
    padding-top: 10px;
    background-color: #30b9f8;
    text-align: center;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 50px;
}
.visit{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
footer{
    position: relative;
    bottom: 0;
}
.footer{
    display: flex;
    background-color: #414141;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: 16px sans-serif;
    padding: 50px 50px 0px 50px;
    margin-top: 80px;
}
.footer .footer-left, .footer .footer-right{
    display: inline-block;
    vertical-align: top;
}
.footer .footer-left{
    width: 35%;
}
.footer .footer-left i{
    background-color: #9b9b9b;
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-left p{
    width: 50%;
    display: inline-block;
    color: rgb(255, 255, 255);
    vertical-align: middle;
    margin: 0px;
}
.footer-right{
    width: 20%;
}
.footer .footer-about{
    float: right;
    line-height: 20px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin: 0px;
}
.footer .footer-about span{
    display: block;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    width: 30%;
}
.footer .footer-about a{
    display: block;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
    width: 50%;
}
.footer .sosmed{
    margin-top: 25px;
}
.footer .sosmed a{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #9b9b9b;
    border-radius: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 40px;
    margin-right: 8px;
    margin-bottom: 40px;
}
.footer.sosmed a:hover{
    background-color: rgb(255, 255, 255);
}
.footer .footer-left, .footer .footer-right{
    display: block;
    width: 100%;
    text-align: left;
}
.copyright{
    text-align: center;
    background-color: #343535;
    width: 100%;
    color: white;
}